*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
}
.App{
    width: 800px;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid blue;
    margin-top: 15px;
    justify-content: space-between;
}
.post-enter {
    transform: translateY(750px);
    opacity: 0;
  }
  .post-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
    transform: translateY(0px);
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateY(350px);
    opacity: 0;
    transition: transform 500ms ease-in, opacity .2s ease-in;
  }
  
